body{
    text-align: center;
    background-color: lightgray;
    color: blue;
}
#app{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#game{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#bot{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#MyCarousel{
    background-color: aqua;
}
#MyCarousel img{
    margin-top: 35px;
    height: 300px;
}
.carousel-inner p{
    color: brown;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.line{
    height: 5px;
    width: 50px;
    background-color: blue;
    margin: auto;
}
